@import "tailwindcss";

/* html2canvas doesn't play well with tailwind
 * this somehow fixes the problem
 * do not remove
 */
img {
	display: inline-block;
}

/* @font-face {
  font-family: 'Terminus';
  src:
    url('/assets/fonts/terminus-webfont.woff2') format('woff2'),
    url('/assets/fonts/terminus-webfont.woff') format('woff'),
    url('/assets/fonts/Terminus.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* font-family: 'Terminus', 'Courier New', monospace; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.6em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.item {
	/* background-color: #ACB6BF; */
	/* border-color: #7f7f7f; */
	text-align: center;
	border: solid;
	padding: 1em;
	margin: 0.5em;
	background-color: #242424;
}

.subitem {
	text-align: center;
	border: solid;
	border-width: 2px;
	padding: 0.5em;
	margin: 0.5em;
	background-color: #242424;
}

.icon-button {
	font-size: 16pt;
	padding: 0;
	width: 32px;
	height: 32px;
}

.tab-widget{
  display: flex;
  flex-direction: column;
}
